.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    border-radius: 1.5625rem;
    width: 35%;
    padding: 25px;
    margin: 25px;
    background: #2a2e32;

}

.title {
    color: #fff;
    font-size: 1.5625rem;
}

.dilivar {
    background-color: #707175;
    height: 1px;
    width: 100%;
}

.list {
    list-style-type: none;
    padding: 0;
}