.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto;
    border-radius: 1.5625rem;
    width: 70%;
    padding: 25px;
    margin: 25px;
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 0px #8e4a8e;
    color: white;
}

.title {
    color: #fff;
    font-size: 1.5625rem;
}

.dilivar {
    background-color: #707175;
    height: 1px;
    width: 100%;
}

.money {
    color: #21bf73;
    text-shadow: 0 0 20px #21bf73;
}

.Remoney {
    color: red;
    text-shadow: 0 0 20px red;
}

.list {
    list-style-type: none;
    padding: 0;
}

.anim {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
  }
  
  .anim::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
  }
  
  .anim::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  .anim::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
    animation-delay: -1s;
  }
  
  .anim::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  @keyframes animate {
    0%,
    100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  